* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background: rgba(51, 71, 91, .8);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-size: 30px;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: #fff;
}
